@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model kdrASPversion.Models.Kdrama

<form asp-action="AddDrama" method="post">
    <div>
        <label asp-for="Title">Title</label>
        <input asp-for="Title" />
    </div>

    <div>
        <label asp-for="Summary">Summary</label>
        <input asp-for="Summary" />
    </div>

    <div>
        <label asp-for="DateReleased">DateReleased</label>
        <input asp-for="DateReleased" />
    </div>

    <div>
        <input type="submit" value="Add Drama" />
    </div>
</form>
